@import "variables.scss";
.home header .wp-block-site-logo {
	visibility:hidden;
}
.home header {
	position:absolute;
	z-index:2;
	left:0;top:0;width:100%;
}

.splash-logo {
	position:absolute;
	left:0;top:0;right:0;bottom:0;margin:auto!important;
	pointer-events:none;
	width: 251px;
height: 101px;
	
	opacity:0;
	animation-name:slideTop;
			animation-delay:2s;
			animation-iteration-count:1;
			animation-duration:0.5s;
			animation-fill-mode:forwards;
}
	@media(min-width:960px){
	.splash-logo {
		width: 400px;
height: 161px;
	}
	}

.tagline {
height:2rem;
text-align:center;
	font-size:1rem;
	line-height:1.75rem;
	text-transform:uppercase;
	color:#fff;
	letter-spacing:0.4rem;
	position:absolute;left:0;top:0;right:0;bottom:0;margin:auto!important;
	max-width:800px;
	max-width:45ch;
	transform:scaleX(1)translateY(120px);
	opacity:0;
	
	animation-name:expandX;
			animation-delay:3.2s;
			animation-iteration-count:1;
			animation-duration:0.3s;
			animation-fill-mode:forwards;
}


	.home-hero {
		margin-top:0;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
		height:90vh;
		overflow:hidden;
		position:relative;
		z-index:1;
		text-transform:uppercase;
		font-size:11vh;
		line-height:1;
		font-weight:700;
	}

.lettergrid {
	color:#fff;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	flex-wrap:wrap;
	max-width:340px;

			
	background: linear-gradient(90deg,#c16965,#861384);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
			
	transform:scale(2);
	opacity:0;
	animation-name:zumaut;
	animation-delay:0.5s;
	animation-iteration-count:1;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
}

.square {
	box-sizing:border-box;
	min-width:78px;
	height:78px;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:default;
	transition:0.3s;
	visibility:visible;
			
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		}

	@media(min-width:960px){
		.lettergrid {
			max-width:1200px;
		}
	.square {
		min-width:120px;
		height:120px;
	}
	}

	.square:hover {
		transform:scaleX(-1);
		opacity:0.5;
		background-color:rgba(255,255,255,0.33);
	}
	.square:nth-child(6),
	.square:nth-child(13),
	.square:nth-child(20),
.square:nth-child(24),
	.square:nth-child(27),
	.square:nth-child(32) {
		
		animation-name:letterflip;
		animation-duration:4s;
		animation-iteration-count: infinite;
	}
	.square:nth-child(3),
	.square:nth-child(18),
	.square:nth-child(27),
	.square:nth-child(33),
	.square:nth-child(45),
	.square:nth-child(52),
	.square:nth-child(58) {
		animation-name:letterflip;
		animation-duration:4s;
		animation-iteration-count: infinite;
		
		animation-delay:6s;
	} 

/* fix bug chromium invisible letters animated */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .square:nth-child(6),
	.square:nth-child(13),
	.square:nth-child(20),
	.square:nth-child(24),
	.square:nth-child(27),
	.square:nth-child(32),
	.square:nth-child(3),
	.square:nth-child(18),
	.square:nth-child(27),
	.square:nth-child(33),
	.square:nth-child(45),
	.square:nth-child(52),
	.square:nth-child(58) {
		background-color:rgba(255,255,255,0.33)
	}
}


@keyframes letterflip {
	0% {
	transform:translateZ(0);
	opacity:1;
		
	}
	25% {
	transform:scaleX(-1)translateZ(0);
	opacity:0.4;
	}
	75% {
	transform:scaleX(-1)translateZ(0);
	opacity:0.4;
	}
	100% {
	transform:translateZ(0);
	opacity:1;
	}
	}

@keyframes zumaut {
	0% {
		transform:scale(2);
		opacity:0;
	}
	100% {
		transform:scale(1);
		opacity:1;
	}
}

@keyframes slideTop {
	0% {
		transform:translateY(100%);
		opacity:0;
	}
	100% {
		transform:translateY(0);
		opacity:1;
	}
}

@keyframes expandX {
	0% {
		transform:scaleX(0)translateY(120px);
		opacity:0;
	}
	100% {
		transform:scaleX(1)translateY(120px);
		opacity:1;
	}
}

/* item destacado lista posts */

@media(min-width:1200px){ 
	:where(body .is-layout-grid) {
	  gap: 2rem;
	}
	.wp-block-post-template.columns-3 > li:first-child {
		/*
		width:66%;
		width:calc(66% - 2.75em);
		*/
		grid-column-start: 1;
    	grid-column-end: 3;
	}
	
	.home .wp-block-query .wp-block-post-template.columns-3 > li:first-child .wp-block-post-title {
		font-size: 2.2rem!important;
	}
	.wp-block-query .wp-block-post-template.columns-3 > li:first-child 
	.wp-block-post-excerpt {
  	font-size: 1.35rem;
		}
	.wp-block-query .wp-block-post-template.columns-3 > li:first-child figure,
	.wp-block-query .wp-block-post-template.columns-3 > li:first-child figure * {
		height: max(15vw, 45vh)!important;
	}
	
	
}